## Importing libraries and reading the dataset

In [23]:
import pandas as pd

In [40]:
df = pd.read_csv("Data.csv")

In [41]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

## Seperating the Features and Labels

In [42]:
X = df.iloc[:, :-1].values

In [43]:
y = df.iloc[:, -1].values

## To handle missing data

Here we replace the NaN values in columns by the mean of all the values in the respective columns

In [44]:
df.info() # To find if there are any missing values in the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
Country      10 non-null object
Age          9 non-null float64
Salary       9 non-null float64
Purchased    10 non-null object
dtypes: float64(2), object(2)
memory usage: 400.0+ bytes

In [45]:
from sklearn.preprocessing import Imputer

In [46]:
imputer = Imputer()

c:\anaconda\envs\mlai\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [47]:
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])
X = pd.DataFrame(X)
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
0    10 non-null object
1    10 non-null object
2    10 non-null object
dtypes: object(3)
memory usage: 320.0+ bytes

## Encoding Categorical Data

In [48]:
from sklearn.preprocessing import LabelEncoder

In [49]:
labelEncoder_X = LabelEncoder()

In [50]:
X[0] = labelEncoder_X.fit_transform(X[0])

In [51]:
X.head()

   0   1        2
0  0  44    72000
1  2  27    48000
2  1  30    54000
3  2  38    61000
4  1  40  63777.8

## one hot encoding

In [52]:
from sklearn.preprocessing import OneHotEncoder

In [53]:
OneHotEncode_X = OneHotEncoder(categorical_features = [0])

In [54]:
X = OneHotEncode_X.fit_transform(X).toarray()

c:\anaconda\envs\mlai\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
c:\anaconda\envs\mlai\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [58]:
from sklearn.compose import ColumnTransformer

In [59]:
ct = ColumnTransformer([("encoder", OneHotEncoder(), [0])], remainder = "passthrough")

In [63]:
X = pd.DataFrame(ct.fit_transform(X))

c:\anaconda\envs\mlai\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

## Seperating the data into training and testing data

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Feature Scaling

In [70]:
from sklearn.preprocessing import StandardScaler

In [71]:
Sc_X = StandardScaler()

In [73]:
X_train = Sc_X.fit_transform(X)
X_train

array([[ 1.22474487e+00, -1.22474487e+00,  1.22474487e+00,
        -6.54653671e-01, -6.54653671e-01,  7.58874362e-01,
         7.49473254e-01],
       [-8.16496581e-01,  8.16496581e-01, -8.16496581e-01,
        -6.54653671e-01,  1.52752523e+00, -1.71150388e+00,
        -1.43817841e+00],
       [-8.16496581e-01,  8.16496581e-01, -8.16496581e-01,
         1.52752523e+00, -6.54653671e-01, -1.27555478e+00,
        -8.91265492e-01],
       [-8.16496581e-01,  8.16496581e-01, -8.16496581e-01,
        -6.54653671e-01,  1.52752523e+00, -1.13023841e-01,
        -2.53200424e-01],
       [-8.16496581e-01,  8.16496581e-01, -8.16496581e-01,
         1.52752523e+00, -6.54653671e-01,  1.77608893e-01,
         6.63219199e-16],
       [ 1.22474487e+00, -1.22474487e+00,  1.22474487e+00,
        -6.54653671e-01, -6.54653671e-01, -5.48972942e-01,
        -5.26656882e-01],
       [-8.16496581e-01,  8.16496581e-01, -8.16496581e-01,
        -6.54653671e-01,  1.52752523e+00,  0.00000000e+00,
        -1.07356980e+00],
       [ 1.22474487e+00, -1.22474487e+00,  1.22474487e+00,
        -6.54653671e-01, -6.54653671e-01,  1.34013983e+00,
         1.38753832e+00],
       [-8.16496581e-01,  8.16496581e-01, -8.16496581e-01,
         1.52752523e+00, -6.54653671e-01,  1.63077256e+00,
         1.75214693e+00],
       [ 1.22474487e+00, -1.22474487e+00,  1.22474487e+00,
        -6.54653671e-01, -6.54653671e-01, -2.58340208e-01,
         2.93712492e-01]])

### helpful in improving the accuracy of the model by reducing all the parameters on a small scale also helpful in reducing the training time